ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.1
    two_d_mode: false
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # Use pose0 instead of odom0/imu0
    pose0: "/kitti/noisy_pose"
    
    # [X, Y, Z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az]
    pose0_config: [true,  true,  true,   # Fusion of X, Y, Z
                   true,  true,  true,   # Fusion of Roll, Pitch, Yaw
                   false, false, false, 
                   false, false, false,
                   false, false, false]
    
    pose0_differential: false
    pose0_relative: false

    process_noise_covariance: [0.05, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
                               # ... keep the rest of your covariance matrix ...]